.board {
    height: 100vmin;
    width: 100vmin;
    margin: 1rem auto;
    // border: 1.5vmin ridge rgba(153, 205, 50, 0.658);

    .row {
        display: flex;
        height: 12%;
    }

    .col {
        width: 12%;
        color: grey;
        font-size: 10vmin;
    
    }

    .b {
        background-color: black;
    }

    .w {
        background-color: white;
    }


}

.pointer {
    cursor: pointer;
}

.highlighted {
    position: relative;
    cursor: pointer;

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: radial-gradient(blue, transparent, transparent);
    }
}
